{% extends 'base.html' %}

{% block content %}
<div class="wrap centered-box">
    <h1>温度検索アプリ</h1>

    <h2>データ検索</h2>

    <table border="1">
        <thead>
            <tr>
                <th>日時</th>
                <th>温度</th>
                <th>フィードバック</th>
            </tr>
        </thead>
        {% for i in data %}
        <tr>
            <th>{{ i[1] }}</th>
            <th>{{ i[0] }}°</th>
            <th>{{ i[2] }}</th>
        </tr>
        {% endfor %}
    </table>
    <div>
        <form method="GET">
            <button type="submit" name="temp" value="high">
                30°以上のみ表示
            </button>
            <button type="submit" name="temp" value="low">
                10°以下のみ表示
            </button>
            <button type="submit" name="temp" value="no">
                リセット
            </button>
        </form>
    </div>

    <div style="height: 32px;"></div>
</div>

{% endblock %}